SFTPGO_GRACE_TIME={{ sftpgo_grace_time | int }}
SFTPGO_HTTPD__SIGNING_PASSPHRASE={{ sftpgo_signing_passphrase }}
SFTPGO_HTTPD__HIDE_SUPPORT_LINK={{ sftpgo_hide_support_link | bool | lower }}
SFTPGO_HTTPD__BINDINGS__0__PORT={{ sftpgo_public_http_port | int }}
SFTPGO_HTTPD__BINDINGS__0__ADDRESS=0.0.0.0
SFTPGO_HTTPD__BINDINGS__0__ENABLE_WEB_ADMIN=false
SFTPGO_HTTPD__BINDINGS__0__ENABLE_WEB_CLIENT=true
SFTPGO_HTTPD__BINDINGS__0__ENABLE_REST_API=true
SFTPGO_HTTPD__BINDINGS__0__DISABLED_LOGIN_METHODS={{ sftpgo_public_disabled_login_methods | int }}
SFTPGO_HTTPD__BINDINGS__0__PROXY_ALLOWED={{ sftpgo_proxy_allowed | join(',') }}
SFTPGO_HTTPD__BINDINGS__0__CLIENT_IP_PROXY_HEADER={{ sftpgo_client_ip_proxy_header }}
SFTPGO_HTTPD__BINDINGS__0__CLIENT_IP_HEADER_DEPTH={{ sftpgo_client_ip_header_depth | int }}
SFTPGO_HTTPD__BINDINGS__0__BASE_URL=https://{{ sftpgo_domain }}
SFTPGO_HTTPD__BINDINGS__0__HIDE_LOGIN_URL=2
SFTPGO_HTTPD__BINDINGS__1__PORT={{ sftpgo_admin_http_port | int }}
SFTPGO_HTTPD__BINDINGS__1__ADDRESS=0.0.0.0
SFTPGO_HTTPD__BINDINGS__1__ENABLE_WEB_ADMIN=true
SFTPGO_HTTPD__BINDINGS__1__ENABLE_WEB_CLIENT=false
SFTPGO_HTTPD__BINDINGS__1__ENABLE_REST_API=true
SFTPGO_HTTPD__BINDINGS__1__DISABLED_LOGIN_METHODS={{ sftpgo_admin_disabled_login_methods | int }}
SFTPGO_HTTPD__BINDINGS__1__PROXY_ALLOWED={{ sftpgo_proxy_allowed | join(',') }}
SFTPGO_HTTPD__BINDINGS__1__CLIENT_IP_PROXY_HEADER={{ sftpgo_client_ip_proxy_header }}
SFTPGO_HTTPD__BINDINGS__1__CLIENT_IP_HEADER_DEPTH={{ sftpgo_client_ip_header_depth | int }}
SFTPGO_HTTPD__BINDINGS__1__BASE_URL=https://{{ sftpgo_admin_domain if (sftpgo_admin_domain | default('') | length > 0) else sftpgo_domain }}
SFTPGO_HTTPD__BINDINGS__1__HIDE_LOGIN_URL=1
{% if sftpgo_security_allowed_hosts | default([]) | length > 0 %}
SFTPGO_HTTPD__BINDINGS__0__SECURITY__ENABLED=true
SFTPGO_HTTPD__BINDINGS__0__SECURITY__ALLOWED_HOSTS={{ sftpgo_security_allowed_hosts | join(',') }}
SFTPGO_HTTPD__BINDINGS__1__SECURITY__ENABLED=true
SFTPGO_HTTPD__BINDINGS__1__SECURITY__ALLOWED_HOSTS={{ sftpgo_security_allowed_hosts | join(',') }}
{% endif %}
{% if sftpgo_setup_installation_code | default('') | length > 0 %}
SFTPGO_HTTPD__SETUP__INSTALLATION_CODE={{ sftpgo_setup_installation_code }}
{% endif %}
{% if sftpgo_oidc_enabled | bool %}
SFTPGO_HTTPD__BINDINGS__0__OIDC__CONFIG_URL={{ sftpgo_oidc_config_url }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_ID={{ sftpgo_oidc_client_id }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET={{ sftpgo_oidc_client_secret }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__REDIRECT_BASE_URL={{ sftpgo_oidc_redirect_base_url }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__USERNAME_FIELD={{ sftpgo_oidc_username_field }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__SCOPES={{ sftpgo_oidc_scopes | join(',') }}
SFTPGO_HTTPD__BINDINGS__0__OIDC__UI_NAME={{ sftpgo_oidc_ui_name }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__CONFIG_URL={{ sftpgo_oidc_config_url }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__CLIENT_ID={{ sftpgo_oidc_client_id }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__CLIENT_SECRET={{ sftpgo_oidc_client_secret }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__REDIRECT_BASE_URL=https://{{ sftpgo_admin_domain if (sftpgo_admin_domain | default('') | length > 0) else sftpgo_domain }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__USERNAME_FIELD={{ sftpgo_oidc_username_field }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__SCOPES={{ sftpgo_oidc_scopes | join(',') }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__UI_NAME={{ sftpgo_oidc_ui_name }}
{% if sftpgo_oidc_role_field | default('') | length > 0 %}
SFTPGO_HTTPD__BINDINGS__0__OIDC__ROLE_FIELD={{ sftpgo_oidc_role_field }}
SFTPGO_HTTPD__BINDINGS__1__OIDC__ROLE_FIELD={{ sftpgo_oidc_role_field }}
{% endif %}
{% endif %}
SFTPGO_DATA_PROVIDER__DRIVER=postgresql
SFTPGO_DATA_PROVIDER__NAME={{ sftpgo_db_name }}
SFTPGO_DATA_PROVIDER__HOST={{ sftpgo_db_host }}
SFTPGO_DATA_PROVIDER__PORT={{ sftpgo_db_port | int }}
SFTPGO_DATA_PROVIDER__USERNAME={{ sftpgo_db_user }}
SFTPGO_DATA_PROVIDER__PASSWORD={{ sftpgo_db_password }}
SFTPGO_DATA_PROVIDER__SSLMODE={{ sftpgo_db_sslmode | int }}
SFTPGO_DATA_PROVIDER__USERS_BASE_DIR=/srv/sftpgo/data
SFTPGO_SFTPD__BINDINGS__0__PORT={{ sftpgo_sftp_port | int }}
SFTPGO_SFTPD__BINDINGS__0__ADDRESS=0.0.0.0
