{
  "log": {
    "loglevel": "warning"
  },
{% if proxy_control_plane_runtime_api_enabled | bool %}
  "api": {
    "tag": "{{ proxy_control_plane_runtime_api_tag }}",
    "services": [
      "HandlerService",
      "StatsService"
    ]
  },
  "stats": {},
{% endif %}
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
{% if proxy_control_plane_runtime_api_enabled | bool %}
      {
        "type": "field",
        "inboundTag": [
          "{{ proxy_control_plane_runtime_api_tag }}"
        ],
        "outboundTag": "{{ proxy_control_plane_runtime_api_tag }}"
      },
{% endif %}
      {
        "type": "field",
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "blocked"
      },
      {
        "type": "field",
        "network": "tcp,udp",
        "outboundTag": "direct"
      }
    ]
  },
  "inbounds": [
    {
      "tag": "{{ proxy_control_plane_runtime_inbound_tag }}",
      "port": 10010,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ v2ray_client_id }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/v2ray"
        }
      }
    }{% if proxy_control_plane_runtime_api_enabled | bool %},
    {
      "tag": "{{ proxy_control_plane_runtime_api_tag }}",
      "listen": "0.0.0.0",
      "port": {{ proxy_control_plane_v2ray_runtime_api_port | int }},
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      }
    }{% endif %}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "blocked"
    }
  ]
}
