#!/usr/bin/env bash
#
# Managed by Ansible. This is read by /opt/zammad/contrib/backup/zammad_backup.sh.

BACKUP_DIR='/var/tmp/zammad'
HOLD_DAYS='{{ backup_keep_local }}'
FULL_FS_DUMP='no'
DEBUG='no'
