VERSION=7.0.1-0006
RESTART=always
TZ={{ system_timezone }}

POSTGRES_DB=zammad_production
POSTGRES_USER=zammad
POSTGRES_PASS=REPLACE_ME_ZAMMAD_POSTGRES_PASSWORD
POSTGRES_HOST=zammad-postgresql
POSTGRES_PORT=5432

ZAMMAD_HTTP_TYPE=https
ZAMMAD_FQDN=support.{{ base_domain }}
NGINX_PORT=8080
NGINX_SERVER_SCHEME=https

RAILS_TRUSTED_PROXIES=["127.0.0.1","::1","172.16.0.0/12","172.18.0.0/16","192.168.0.0/16"]

ELASTICSEARCH_ENABLED=true
ELASTICSEARCH_VERSION=9.3.3
ELASTICSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
MEMCACHE_VERSION=1.6.41-alpine
REDIS_VERSION=8.6.2-alpine
POSTGRES_VERSION=17.9-alpine
