# ===============================================
# 动态提取当前主机的身份信息
# ===============================================
{# {% set my_node = none %}
{% for name, srv in wg_servers.items() %}
  {% if srv.hostname == inventory_hostname %}
    {% set my_node = srv %}
  {% endif %}
{% endfor %} #}
# 直接从 wg_servers 的所有值中，筛选出 hostname 等于当前机器名字的那一项
{% set my_node = wg_servers.values() | selectattr('hostname', 'equalto', inventory_hostname) | first %}

[Interface]
# 本机分配的内网 IP
Address = {{ wg_network_prefix }}.{{ my_node.ip_suffix }}/24
ListenPort = {{ wg_port }}
PrivateKey = {{ my_node.priv }}

# 开启 NAT 转发，强行插入规则到最顶部 (-I) 绕过 Firewalld 拦截，并允许一来一回的双向流量
# 👇 在最后追加了 -o wg0 -j MASQUERADE 规则，解决内网跳板访问问题
PostUp = iptables -I FORWARD -i wg0 -j ACCEPT; iptables -I FORWARD -o wg0 -j ACCEPT; iptables -t nat -I POSTROUTING -o {{ ansible_facts.default_ipv4.interface }} -j MASQUERADE; iptables -t nat -I POSTROUTING -o wg0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_facts.default_ipv4.interface }} -j MASQUERADE; iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE

# ===============================================
# 服务器互联 (Full Mesh)
# ===============================================
{% for name, peer in wg_servers.items() %}
{% if peer.hostname != inventory_hostname %}
[Peer]
# Server: {{ peer.hostname }}
PublicKey = {{ peer.pub }}
Endpoint = {{ peer.endpoint }}:{{ wg_port }}
# 核心逻辑：服务器之间只允许内网 IP 互通，不互相代理外网流量
AllowedIPs = {{ wg_network_prefix }}.{{ peer.ip_suffix }}/32  # <-- ✅ 改成这样
PersistentKeepalive = 25
{% endif %}
{% endfor %}

# ===============================================
# 个人设备客户端
# ===============================================
{% for name, client in wg_clients.items() %}
[Peer]
# Client: {{ name }}
PublicKey = {{ client.pub }}
# 允许客户端的 IP 连入
AllowedIPs = {{ wg_network_prefix }}.{{ client.ip_suffix }}/32  # <-- ✅ 改成 client
{% endfor %}
