DB_URL=postgres://{{ logto_db_user | urlencode | replace('/', '%2F') }}:{{ logto_db_password | urlencode | replace('/', '%2F') }}@{{ logto_db_host }}:{{ logto_db_port | int }}/{{ logto_db_name | urlencode | replace('/', '%2F') }}
ENDPOINT={{ logto_endpoint }}
ADMIN_ENDPOINT={{ logto_admin_endpoint }}
TRUST_PROXY_HEADER={{ 1 if logto_trust_proxy_header | default(true) | bool else 0 }}
PORT={{ logto_core_port | int }}
ADMIN_PORT={{ logto_admin_port | int }}
SECRET_VAULT_KEK={{ logto_secret_vault_kek }}
{% if logto_database_statement_timeout | default('') | string | length > 0 %}
DATABASE_STATEMENT_TIMEOUT={{ logto_database_statement_timeout }}
{% endif %}
