NEO_PROXY_PASSWORD={{ neo_proxy_password }}
NEO_PROXY_PASSWORD_ALLOW_EMPTY={{ 1 if neo_proxy_password_allow_empty | bool else 0 }}

NEO_BIND_HOST={{ neo_bind_host }}
NEO_RAG_PROXY_PORT={{ neo_rag_proxy_port }}
NEO_LLM_PROXY_PORT={{ neo_llm_proxy_port }}

NEO_LOCAL_RAG_PORT={{ neo_local_rag_port }}
NEO_LOCAL_LLM_PORT={{ neo_local_llm_port }}
NEO_RAG_BASE_URL={{ neo_rag_base_url }}
NEO_LLM_BASE_URL={{ neo_llm_base_url }}

NEO_MANAGE_SSH_TUNNEL={{ 1 if neo_manage_ssh_tunnel | bool else 0 }}
NEO_SSH_USER={{ neo_ssh_user }}
NEO_SSH_HOST={{ neo_ssh_host }}
NEO_SSH_PORT={{ neo_ssh_port }}
NEO_SSH_PASSWORD={{ ssh_tunnel_password | default('') }}
NEO_SSH_KEY_PATH={{ neo_ssh_key_path }}
NEO_SSH_BIND_HOST={{ neo_ssh_bind_host }}
NEO_REMOTE_RAG_HOST={{ neo_remote_rag_host }}
NEO_REMOTE_RAG_PORT={{ neo_remote_rag_port }}
NEO_REMOTE_LLM_HOST={{ neo_remote_llm_host }}
NEO_REMOTE_LLM_PORT={{ neo_remote_llm_port }}

NEO_UPSTREAM_TIMEOUT_SECONDS={{ neo_upstream_timeout_seconds }}
NEO_LOG_TUNNEL_COMMAND={{ 1 if neo_log_tunnel_command | bool else 0 }}
